* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper {
  display: flex;
  justify-content: space-between;
}

.wrapper .products-wrapper {
  width: 70%;
}

.wrapper .filter-wrapper {
  width: 30%;
}

/* Nav */
.nav ul {
  display: flex;
  list-style: none;
  font-size: 30px;
  margin: 10px;
  gap: 10px;
  justify-content: center;
}

.nav ul li {
}

.nav ul li a {
  padding: 10px;
  background-color: black;
  color: white;
  text-decoration: none;
}

.nav ul li a.active {
  background-color: white;
  color: black;
}
